<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Aujiga Online Order</title>
    <link rel="shortcut icon" href="" type="image/x-icon"/>
    <meta name="description" content=""/> <!-- 内容使网站受浏览器关注-->
    <meta name="keywords" content=""/>  <!-- 内容使得关键字搜索-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}"/>
</head>
<body>
    <header>
        <div class="web-shortcut">
            <h1 class="logo fl">
                <a href="{{ url_for('index') }}">Aujiga</a>
            </h1>
            <nav class="container">
              <ul class="fr">
                <li><a href="{{ url_for('login') }}">Login</a>|</li>
                <li><a href="{{ url_for('register') }}">Register</a>|</li>
              </ul>
            </nav>
            <div class="search fl"> 
                <input type="search" placeholder="Search item">
            </div>
            <div class="cart fl">
                <span>0</span>
            </div>
        </div>      
    </header>
    <main>
        <div class="web-mains">
            <div class="container">
                <img src="{{ url_for('static', filename='images/1.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/2.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/3.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/4.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/5.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/6.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/7.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/8.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/9.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/10.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/11.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/12.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/13.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/14.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/15.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/16.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/17.jpg') }}" alt="Image">
                <img src="{{ url_for('static', filename='images/18.jpg') }}" alt="Image">

            </div>
        </div>
    </main>
    <footer>
        <div class="web-foot">
            <div class="container">
                <a href="">Price cheap!</a>
                <a href="">Item fresh!</a>
                <a href="">Delivery Fast!</a>
            </div>
        </div>
        <div class="web-copyright">
            <div class="container">
                <p>CopyRight @ Aujiga</p> 
        </div>
    </footer>
    <script src="{{ url_for('static', filename='scripts/imgBig.js') }}"></script>
</body>
</html>