<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}"><!-- Link to your CSS file -->
</head>
<body>
    <header>
        <div class="web-shortcut">
            <h1 class="logo fl">
                <a href="{{ url_for('index') }}">Aujiga</a>
            </h1>
            <nav class="container">
              <ul class="fr">
                <li><a href="{{ url_for('login') }}">Login</a>|</li>
                <li><a href="{{ url_for('register') }}">Register</a>|</li>
              </ul>
            </nav>
            <div class="search fl"> 
                <input type="search" placeholder="Search item">
            </div>
            <div class="cart fl">
                <span>0</span>
            </div>
        </div>      
    </header>
    <div class="wrapper">
        <div class="container">
            <h2>Register</h2>
            <div id="register-message" class="{{ 'success' if register_success else 'error' }}">{{ register_message }}</div>

            <form method="POST" action="{{ url_for('register') }}" id="login-form">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Enter your first name" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="lastname" placeholder="Enter your last name" required>
                </div>
                <div class="form-group">
                    <label for="phonenumber">Phone Number</label>
                    <input type="text" id="phonenumber" name="phonenumber" placeholder="Enter your phone number" required>
                </div>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="form-group">
                    <label for="companyname">Company Name</label>
                    <input type="text" id="companyname" name="companyname" placeholder="Enter your company name" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" id="register-button">Create</button>
                <p>Have account? <a href="{{ url_for('login') }}">Login</a> here!</p>
            </form>
        </div>
    </div>
</body>
</html>