.container {
    width: 1400px;
    margin: 0 auto;
}

.web-shortcut {
	height:90px;
	display: flex;
	align-items: center;
	background-color: rgb(224, 99, 120);
}

.web-shortcut .logo {
    width: 207px;
    height: 80px;
	margin-left: 175px;
}

.web-shortcut .logo a{
	display: block;
	height: 80px;
	background: url(../images/logo.png);
	background-size: 100% 100%;
	font-size: 0;
}
  
.web-shortcut .container {
	width: auto;
	margin-left: 100px;
	margin-bottom: 20px;
	text-align: center;
	height: 52px;
	display: flex;
	justify-content: center;
}
  
.web-shortcut .container li {
	display: inline-block;
	line-height: 52px;
	color: #666;
}
  
.web-shortcut .container a {
	margin: 0 16px;
	color: #dcdcdc;
	font-size: 20px;
}
  
.web-shortcut a:hover {
	color: #27ba9b;
}
  
.web-shortcut li:last-child a {
	margin-right: 0;
}

.web-shortcut .search{
	position: relative;
	width: 172px;
	height: 30px;
	margin-top: 24px;
	margin-right: 25px;
	background-color: orange;
}

.web-shortcut .search::before{
	content: '';
	position: absolute;
	top: 5px;
	left: 2px;
	width: 18px;
	height: 18px;
	background: url(../images/Element.png) -80px -70px;
}

.web-shortcut .search input{
	width: 172px;
	height: 30px;
	border-bottom: 2px solid;
	padding-left: 31pt;
}

.web-shortcut .cart {
	position: relative;
	width: 23px;
	height: 23px;
	margin-top: 27px;
	margin-right: 70px;
	float: right;
	background: url(../images/Element.png) -119px -69px;
}
  
.web-shortcut .cart span {
	position: absolute;
	top: -5px;
	right: -12px;
	width: 20px;
	height: 14px;
	background-color: #e26237;
	font-size: 13px;
	text-align: center;
	line-height: 14px;
	color: #fff;
	border-radius: 7px;
}
  
.web-mains .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;

}

.web-mains .container img {
	cursor: pointer;
	width: calc(20% - 10px);
	margin-bottom: 20px;
	margin-left: 20px;
	height: auto;

}

/*这是图片放大的开始*/
.enlarged-img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.enlarged-img img {
	max-width: 80%;
	max-height: 80%;
	object-fit: contain;
}

.enlarged-img p {
	color: white;
	text-align: center;
	font-size: 25px;
	margin-top: 20px;
	margin-right: 50px;
}

.enlarged-img a {
	color: rgb(48, 119, 177);
	text-align: center;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 50px;
}
/*这是图片放大的结束*/

.web-foot{
	height: 130px;
	background-color: #333;
}

.web-foot .container{
	width: 1400px;
}

.web-foot .container a{
	float: left;
	text-decoration: none;
	width: 33.33%;
	height: 80px;
	text-align: center;
	line-height: 120px;
	font-size: 28px;
	color: #db7a02;

}

.web-foot .container a::before{
	content: '';
	display: inline-block;
	width: 58px;
	height: 58px;
	margin-right: 19px;
	background: url(../images/Element.png) 0 0;
	vertical-align: middle;
}

.web-foot a:nth-child(2)::before{
	background: url(../images/Element.png) -65px 0;
}

.web-foot a:nth-child(3)::before{
	background: url(../images/Element.png) -130px 0;
}

.web-copyright{
	height: 70px;
	background-color: rgb(224, 99, 120);
}

.web-copyright .container{
	height: 60px;
	padding-top: 21px;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	color: #e0eb11;
}

.web-copyright .container p:first-child{
	height: 35px;
}